@import '../constants/colors';

.file-uploader {
  input[type="file"] {
    display: none;
  }

  label {
    height: 150px;
    padding: 20px;
    margin: 20px 0 0;
    border: 1px dotted $strong-gray;
    text-align: center;
    background-color: $gray-bg;
    opacity: 0.6;

    cursor: pointer;

    .fa-cloud-arrow-up {
      margin: 10px 0 0;
      font-size: 44px;
      color: $sky-blue;
    }

    p {
      margin: 23px 0 0;
      font-weight: normal;
    }

    &:hover {
      opacity: 1;
    }
  }
}