@import '../constants/colors';

.more-btn {
	position: relative;

	label {
		position: absolute;
		right: 0;
		top: -21px;
		width: 30px;
		height: 27px;
		padding: 3px;
		border: 1px solid $strong-gray;
		border-radius: 5px;
		text-align: center;
		opacity: 0.5;
	}

	.option-list {
		visibility: hidden;
		position: absolute;
		background-color: #fff;
		top: 10px;
		right: 0;

		li {
			padding: 10px;
			border-bottom: 1px solid $strong-gray;
			opacity: 0.7;
			font-size: 14px;

			&:nth-last-child(1) {
				border-bottom: none;
			}

			&:hover {
				opacity: 1;
				color: $pink;
			}
		}
	}

	input[type="checkbox"]:checked ~ .option-list {
		visibility: visible;
	}
    
}

